// Backgrounds
.bg {
  &-primary {
    background: $primary-color;
  }
  &-dark {
    background: $dark-color;
  }
  &-light {
    background: $light-color;
  }
}

// Text
.text {
  &-primary {
    color: $primary-color;
  }
  &-light {
    color: $light-color;
  }
  &-dark {
    color: $dark-color;
  }
  &-light-dark {
    color: $light-dark-color;
  }

  &-tk {
    color: $tk-color;
  }
}

.strong {
  font-weight: bold;
}

.heading {
  &-085 {
    font-size: 0.85rem;
  }
  &-1 {
    font-size: 1rem;
  }
  &-15 {
    font-size: 1.5rem;
  }
  &-2 {
    font-size: 2rem;
  }
}

.lead {
  &-075 {
    font-size: 0.75rem;
  }
  &-1 {
    font-size: 1rem;
  }
  &-15 {
    font-size: 1.5rem;
  }
  &-2 {
    font-size: 2rem;
  }
  &-3 {
    font-size: 3rem;
  }
}

// Text alignment
.center {
  text-align: center;
}

// Spacing
.spacing > * + * {
  margin-top: 2rem;
}

// Padding
.p {
  &-05 {
    padding: 0.5rem;
  }
  &-075 {
    padding: 0.75rem;
  }
  &-1 {
    padding: 1rem;
  }
  &-15 {
    padding: 1.5rem;
  }
  &-2 {
    padding: 2rem;
  }
}

.py {
  &-05 {
    padding: 0.5rem 0;
  }
  &-1 {
    padding: 1rem 0;
  }
  &-15 {
    padding: 1.5rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
}

.pyb {
  &-05 {
    padding-bottom: 0.5rem;
  }
  &-1 {
    padding-bottom: 1rem;
  }
  &-15 {
    padding-bottom: 1.5rem;
  }
  &-2 {
    padding-bottom: 2rem;
  }
}

// Margin
.m {
  &-05 {
    margin: 0.5rem;
  }
  &-075 {
    margin: 0.75rem;
  }
  &-1 {
    margin: 1rem;
  }
  &-15 {
    margin: 1.5rem;
  }
  &-2 {
    margin: 2rem;
  }
  &-3 {
    margin: 3rem;
  }
  &-4 {
    margin: 4rem;
  }
  &-45 {
    margin: 4.5rem;
  }
}

.my {
  &-05 {
    margin: 0.5rem 0;
  }
  &-1 {
    margin: 1rem 0;
  }
  &-15 {
    margin: 1.5rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-25 {
    margin: 2.5rem 0;
  }
}

.myb {
  &-05 {
    margin-bottom: 0.5rem;
  }
  &-1 {
    margin-bottom: 1rem;
  }
  &-15 {
    margin-bottom: 1.5rem;
  }
  &-2 {
    margin-bottom: 2rem;
  }
}

.ml {
  &-05 {
    margin-left: 0.5rem;
  }
  &-075 {
    margin-left: 0.75rem;
  }
  &-1 {
    margin-left: 1rem;
  }
  &-15 {
    margin-left: 1.5rem;
  }
  &-2 {
    margin-left: 2rem;
  }
}
